* {
    margin: 0;
    padding: 0;
    text-transform: capitalize;
}

h2,
h5,
p,
span {
    cursor: default;
}

.nav-item {
    width: fit-content !important;
    position: relative;
}

.nav-item::before {
    position: absolute;
    z-index: -1;
    content: "";
    left: 0;
    bottom: 0;
    width: 0;
    height: 100%;
    border-bottom: 2.5px solid #bd1588;
    visibility: hidden;
    transition: 0.3s;
}

.nav-item:hover.nav-item::before {
    visibility: visible;
    width: 100%;
}

nav {
    width: 100%;
    padding-bottom: 15px;
    z-index: 3;
    position: fixed !important;
    top: 0;
}

.navbar-toggler {
    background-color: white !important;
}



.form-floating .form-control {
    border: 1px solid #bd1588;
}


.bttn {
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 60px;
}


.carousel-caption {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}

.carousel-caption h5 {
    margin-bottom: 20px;
    color: black;
}

.carousel-item::after {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

.carousel-item {
    height: 92vh;
    transition: 7s;
    position: relative;
}

form button {
    color: white;
    border: none !important;
    margin-left: 20px !important;
    padding: 0px 30px !important;
}



.dropdown-toggle {
    text-decoration: none;
    color: black;
}

.dropdown-toggle:hover {
    color: black;
}

.welcome {
    width: 100%;
    height: 200px;
    background-color: #bc519b;
}

.CapTion h2 {
    color: black;
}

.CapTion {
    margin-left: 50px;
    padding-top: 50px;
}

.CapTion button {
    display: block;
    margin-top: 10px;
    width: 100px;
    margin-left: 35px;
}

.options {
    text-align: center;
    margin-top: 50px;
    background-color: #3e072d;
    color: white;
}

.options h2 {
    padding-top: 30px;
    font-size: 35px;
}

.create h2 {
    background-color: #3e072d;
    text-align: center;
    color: white;
    padding: 30px 0px 10px;
    font-size: 35px;
}

.create-content {
    background-color: #bd1588;
    margin-top: -10px;
    padding-bottom: 40px;
    padding-top: 20px;
    position: relative;

}

.create-content p {
    margin-left: 50px;
    font-size: 25px;
    color: black;
}

.create-content button {
    margin-left: 100px;
    margin-top: 10px;
}

.create-content code {
    text-align: center;
    padding-left: 50px;
    color: black;
    text-transform: capitalize;
    font-size: 30px;
}

.carousel {
    margin-top: 15px;
}

.blank {
    position: relative;
    background-image: url(../images/F98FUMOIJSX3E43.webp);
    height: 200px;
    background-size: cover;
    background-attachment: fixed;
}

.blank::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.blank2 {
    position: relative;
    background-image: url(../images/thread-5248183_960_720.jpg);
    height: 200px;
    background-size: cover;
    background-attachment: fixed;
    background-color: #bc519b !important;
}

.blank2::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.heading {
    background-color: #3e072d;
    text-align: center;
    color: white;
    padding: 30px 0px 10px;
    font-size: 35px;
}

.card-body a {
    background-color: #bd1588 !important;
    border: none !important;
}

.card {
    position: relative !important;
}



.EenDD a:hover {
    color: #f4a9dc !important;
}

.icon1 {
    background-image: url(../images/img_1676906119558.png);

}

.icon2 {
    background-image: url(../images/img_1676928149991.png);
}

.icon3 {
    background-image: url(../images/img_1676928400386.png);
}

.card-icon {
    margin: auto;
    background-position: bottom;
    background-size: cover;
    width: 100px;
    height: 50px;
    transition: 0.3s;
}

.EenDD:hover .card-icon {
    background-position: top;
}

.card-img-top {
    border-radius: 5px !important;
}

.ArrowUp {
    margin-top: 10px;
    color: black;

}

.FadBox {
    cursor: pointer;
    text-align: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-image: linear-gradient(to right top, #3e072d, #540a3d, #6b0d4e, #82105f, #9b1270, #ac2e81, #be4392, #cf57a4, #dc79b9, #e89acd, #f3b9e0, #ffd8f3);
    box-shadow: 5px 8px 15px 0px rgba(0, 0, 0, 0.5);
}